
#listas {
	font-size: 25px;
    color: #FF0000;
	}
.contenedor {
    position: relative;
    width: 500px;
    padding-right: 0px;
    padding-left: 100px;
    margin-left: auto;
    margin-right: auto; 
 background-color: yellow;
}
 .img { 
display: block;
left: 200px;
top: 100px;
right: 2000px;
padding-left: 10%;
padding-top: 10%;
padding-right: 10%;
padding-bottom: 10%;
}

#link:focus {
    color: green;
}
/*Debes crear una hoja de estilos **externa** llamada `estilo1.css` 
y dentro escribir las reglas necesarias tal que:

    * el div contenedor tiene que tener un ancho de 500px,
     el color de fondo amarillo y estar centrado.
    * Los elementos de la lista deben tener un tamaño 
    de letra de 25px y ser de color rojo.
    * la imagen debe estar centrada.
    * el color del link una vez que se haya
     clickeado debe ser verde.

  ### Deberia quedar asi
  ![left](./img/ejercicio1.png).*/